workflows/Erreurs dans les workflows.json
{
  "active": false,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2023-12-11T13:11:59.484Z",
  "id": "ur9uvHxf82lMBYWS",
  "isArchived": false,
  "meta": null,
  "name": "Erreurs dans les workflows",
  "nodes": [
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        320,
        180
      ],
      "typeVersion": 1,
      "id": "454da554-71fe-4bfa-8692-b95f88d1e1c7"
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=Erreur dans un workflow n8n :  {{$json[\"workflow\"][\"name\"]}}",
        "message": "=Workflow: {{$json[\"workflow\"][\"name\"]}}\nError: {{$json[\"execution\"][\"error\"][\"message\"]}}\nLast node executed: {{$json[\"execution\"][\"lastNodeExecuted\"]}}\nExecution URL: {{$json[\"execution\"][\"url\"]}}\nStacktrace:\n{{$json[\"execution\"][\"error\"][\"stack\"]}}",
        "toList": [
          "mahe.thibault@gmail.com"
        ],
        "additionalFields": {}
      },
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        520,
        180
      ],
      "typeVersion": 1,
      "id": "90ea1837-922d-46a2-8241-1ea4a74e63d8",
      "credentials": {
        "gmailOAuth2": {
          "id": "rAfdKJMN8l7vL9s2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://smsapi.free-mobile.fr/sendmsg?user=44034514&pass=Nh13AEJkFSgXzd",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "msg",
              "value": "=Erreur dans l'execution du workflow n8n : {{ $json.workflow.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "731229cc-1a77-4e8e-bf45-01715856b725",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        340
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2023-12-11T13:11:59.484Z",
      "createdAt": "2023-12-11T13:11:59.484Z",
      "role": "workflow:owner",
      "workflowId": "ur9uvHxf82lMBYWS",
      "projectId": "8nM2sM0qimdfJmkc"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-03-26T20:44:30.486Z",
  "versionId": "6bab2caf-1e9f-4741-89ac-bddb47dabbf9"
}