workflows/Extraction annonces.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-13T16:23:13.816Z",
  "id": "Te5anOKlyv8gDO8N",
  "meta": null,
  "name": "Extraction annonces",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        -120
      ],
      "id": "af7c60f8-119f-432f-935c-73c7473536f3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.annonces-caravaning.com/script/exportClient.php?id=14841.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        -260
      ],
      "id": "8b4cedc2-2c56-47ec-a913-14333a8e174d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -380,
        -60
      ],
      "id": "e9887f36-3099-4052-b380-62d8708d670f",
      "name": "XML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "stock",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -180,
        -180
      ],
      "id": "01a6844e-4d85-438b-8eff-9c1bf8f22ae6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0eed28a-4315-4e38-8e9a-f0d50766ad36",
              "name": "0",
              "value": "={{ $json['0'] }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        100,
        -120
      ],
      "id": "9a154ff8-db28-4f57-95e8-e487a2654d32",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "convertToHtmlTable",
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        320,
        -120
      ],
      "id": "f45e89da-add1-4635-ae36-9825059154b7",
      "name": "HTML"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "sheetsUi": {
          "sheetValues": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        540,
        -120
      ],
      "id": "78fbc8de-de11-4feb-95c6-fbdb3a06e190",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2WEM9Jn81BmJbW4o",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-13T17:06:23.679Z",
  "versionId": "65980ba7-81ef-4d36-964a-cf0808e13393"
}