workflows/Import prix stations italiennes.json
{
  "active": false,
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-01T15:26:04.357Z",
  "id": "CIdtxmJRYxtbUO29",
  "isArchived": false,
  "meta": null,
  "name": "Import prix stations italiennes",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.mimit.gov.it/images/exportCSV/prezzo_alle_8.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "prix"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        -208
      ],
      "id": "d5720a9b-0866-43af-8640-dabe6883b650",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "binaryPropertyName": "prix",
        "options": {
          "delimiter": ";",
          "encoding": "utf-8",
          "relaxQuotes": true,
          "headerRow": true,
          "fromLine": 2,
          "skipRecordsWithErrors": {
            "value": {
              "enabled": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -80,
        -192
      ],
      "id": "b4ed79a6-4a6f-400f-a431-b85443856c50",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe18b360-e165-408d-9471-763024db5ccc",
              "leftValue": "={{ $json.descCarburante }}",
              "rightValue": "Metano",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        160,
        -176
      ],
      "id": "ebb3894a-a73e-4180-8516-e70cd24b6c4a",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e9fba1d-9edd-40dd-849d-3904b29f39dd",
              "name": "numero",
              "value": "={{ $json.idImpianto }}",
              "type": "string"
            },
            {
              "id": "369cad7f-c1b1-4485-866f-4a7d37004ba4",
              "name": "prixgnc",
              "value": "={{ $json.prezzo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        -176
      ],
      "id": "fdc77f1b-a6e8-40f1-bfe1-b51cae17434e",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        -128
      ],
      "id": "b931fc1a-ed6b-410d-adde-0186cd2b27c7",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-01T15:26:04.357Z",
      "createdAt": "2025-12-01T15:26:04.357Z",
      "role": "workflow:owner",
      "workflowId": "CIdtxmJRYxtbUO29",
      "projectId": "8nM2sM0qimdfJmkc"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2023-12-11T09:06:36.362Z",
      "createdAt": "2023-12-11T09:06:36.362Z",
      "id": "pu1HKJmBOsnvJ7E5",
      "name": "NG Maps"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-01T15:59:39.293Z",
  "versionId": "75ae732e-5c55-48f5-878b-5daed8ac01a6"
}