workflows/Relance à 10 jours Seavan.json
{
  "active": false,
  "connections": {
    "Date du jour": {
      "main": [
        [
          {
            "node": "Enleve 10 jours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tous les jours à 8h": {
      "main": [
        [
          {
            "node": "Lis la page des demandes de devis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lis la page des demandes de devis": {
      "main": [
        [
          {
            "node": "Date du jour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enleve 10 jours": {
      "main": [
        [
          {
            "node": "Formate la date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formate la date": {
      "main": [
        [
          {
            "node": "Ordonne les données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ordonne les données": {
      "main": [
        [
          {
            "node": "Compare les dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare les dates": {
      "main": [
        [
          {
            "node": "Si pas de réservation alors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si pas de réservation alors": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2023-12-14T17:13:41.043Z",
  "id": "jtryJlYviNi1PmnB",
  "meta": null,
  "name": "Relance à 10 jours Seavan",
  "nodes": [
    {
      "parameters": {
        "options": {
          "includeInputFields": true,
          "timezone": "Europe/Paris"
        }
      },
      "id": "2c1c481a-0931-41b6-b7ad-9906f8887eaa",
      "name": "Date du jour",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        120,
        60
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "1a94aa81-317d-446c-9510-67a4c7795002",
      "name": "Tous les jours à 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        60
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YEUxA8-V4JXwZoabC3_wx9lqeMejPwVypAQ5AX7amnU",
          "mode": "list",
          "cachedResultName": "RESA-SEAVAN-N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YEUxA8-V4JXwZoabC3_wx9lqeMejPwVypAQ5AX7amnU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Touteslesdemandes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YEUxA8-V4JXwZoabC3_wx9lqeMejPwVypAQ5AX7amnU/edit#gid=0"
        },
        "options": {}
      },
      "id": "18eea376-94b6-4605-99a7-47310db67013",
      "name": "Lis la page des demandes de devis",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        0,
        -140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2WEM9Jn81BmJbW4o",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $json.currentDate }}",
        "duration": 10,
        "options": {
          "includeInputFields": true
        }
      },
      "id": "ee5dbd05-de78-412a-9a04-24412bfab6b0",
      "name": "Enleve 10 jours",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        240,
        -140
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.newDate }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {
          "includeInputFields": true
        }
      },
      "id": "f95d87f4-170f-437c-bbef-4846091d2048",
      "name": "Formate la date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        360,
        60
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Date_du-jour_moins_10_jours",
              "stringValue": "={{ $json.formattedDate }}"
            }
          ]
        },
        "include": "except",
        "excludeFields": "col_9, col_10, currentDate, newDate, formattedDate",
        "options": {}
      },
      "id": "aa4f4959-0436-4ac9-8d63-9001352e9124",
      "name": "Ordonne les données",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        480,
        -140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.received_at_date }}",
              "value2": "={{ $json['Date_du-jour_moins_10_jours'] }}"
            }
          ]
        },
        "combineConditions": "OR"
      },
      "id": "4721e827-5287-4978-bb4e-4ebdcfa4a424",
      "name": "Compare les dates",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        620,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Reservation }}",
              "value2": "x"
            }
          ]
        }
      },
      "id": "f3381f48-7fd9-47a8-a950-6229dc5b0a3b",
      "name": "Si pas de réservation alors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        740,
        -140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "499bd119-b859-4392-9c1a-2e2954d09238",
      "name": "Envoie un mail",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        880,
        60
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ur9uvHxf82lMBYWS"
  },
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1tUz1Z-G66V2U1x6VktpFOT-H76A1ukIU8bNowaB-GvA",
      "sheetId": "0",
      "lastIndexChecked": 3
    },
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2023-11-13T13:28:04.972Z",
      "updatedAt": "2023-11-13T13:28:04.972Z",
      "id": "JD3fTrw1NMj06zE2",
      "name": "Leads Seavan"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-12-14T17:47:13.818Z",
  "versionId": "e12e77f0-85ec-4126-a33d-d126e5c7d607"
}