workflows/Relance à 10 jours Seavan.json
{
  "active": true,
  "connections": {
    "Date du jour": {
      "main": [
        [
          {
            "node": "Enleve 10 jours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lis la page des demandes de devis": {
      "main": [
        [
          {
            "node": "Date du jour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enleve 10 jours": {
      "main": [
        [
          {
            "node": "Formate la date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formate la date": {
      "main": [
        [
          {
            "node": "Ordonne les données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ordonne les données": {
      "main": [
        [
          {
            "node": "Compare les dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare les dates": {
      "main": [
        [
          {
            "node": "Si pas de réservation alors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si pas de réservation alors": {
      "main": [
        [
          {
            "node": "Envoie un mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tous les jours à 15h": {
      "main": [
        [
          {
            "node": "Lis la page des demandes de devis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-14T17:13:41.043Z",
  "id": "jtryJlYviNi1PmnB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Relance à 10 jours Seavan",
  "nodes": [
    {
      "parameters": {
        "options": {
          "includeInputFields": true,
          "timezone": "Europe/Paris"
        }
      },
      "id": "2c1c481a-0931-41b6-b7ad-9906f8887eaa",
      "name": "Date du jour",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        120,
        60
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YEUxA8-V4JXwZoabC3_wx9lqeMejPwVypAQ5AX7amnU",
          "mode": "list",
          "cachedResultName": "RESA-SEAVAN-N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YEUxA8-V4JXwZoabC3_wx9lqeMejPwVypAQ5AX7amnU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Touteslesdemandes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YEUxA8-V4JXwZoabC3_wx9lqeMejPwVypAQ5AX7amnU/edit#gid=0"
        },
        "options": {}
      },
      "id": "18eea376-94b6-4605-99a7-47310db67013",
      "name": "Lis la page des demandes de devis",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        0,
        -140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2WEM9Jn81BmJbW4o",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $json.currentDate }}",
        "duration": 10,
        "options": {
          "includeInputFields": true
        }
      },
      "id": "ee5dbd05-de78-412a-9a04-24412bfab6b0",
      "name": "Enleve 10 jours",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        240,
        -140
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.newDate }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {
          "includeInputFields": true
        }
      },
      "id": "f95d87f4-170f-437c-bbef-4846091d2048",
      "name": "Formate la date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        360,
        60
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Date_du-jour_moins_10_jours",
              "stringValue": "={{ $json.formattedDate }}"
            }
          ]
        },
        "include": "except",
        "excludeFields": "col_9, col_10, currentDate, newDate, formattedDate",
        "options": {}
      },
      "id": "aa4f4959-0436-4ac9-8d63-9001352e9124",
      "name": "Ordonne les données",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        480,
        -140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.received_at_date }}",
              "value2": "={{ $json['Date_du-jour_moins_10_jours'] }}"
            }
          ]
        },
        "combineConditions": "OR"
      },
      "id": "4721e827-5287-4978-bb4e-4ebdcfa4a424",
      "name": "Compare les dates",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        620,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Reservation }}",
              "value2": "x"
            }
          ]
        }
      },
      "id": "f3381f48-7fd9-47a8-a950-6229dc5b0a3b",
      "name": "Si pas de réservation alors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        740,
        -140
      ]
    },
    {
      "parameters": {
        "fromEmail": "Seavan Location<charline@sea-van.com>",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.prenom }}, besoin de conseils pour votre road-trip ? 🚐",
        "html": "=\n<!doctype html>\n<html lang=\"fr_FR\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\">\n\n<head>\n  <title> {{ $json.prenom }}, besoin de conseils pour votre road trip ? :minibus: </title>\n  <!--[if !mso]><!-->\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <!--<![endif]-->\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <style type=\"text/css\">\n    #outlook a {\n      padding: 0;\n    }\n\n    body {\n      margin: 0;\n      padding: 0;\n      -webkit-text-size-adjust: 100%;\n      -ms-text-size-adjust: 100%;\n    }\n\n    table,\n    td {\n      border-collapse: collapse;\n      mso-table-lspace: 0pt;\n      mso-table-rspace: 0pt;\n    }\n\n    img {\n      border: 0;\n      height: auto;\n      line-height: 100%;\n      outline: none;\n      text-decoration: none;\n      -ms-interpolation-mode: bicubic;\n    }\n\n    p {\n      display: block;\n      margin: 13px 0;\n    }\n  </style>\n  <!--[if mso]>\n        <noscript>\n        <xml>\n        <o:OfficeDocumentSettings>\n          <o:AllowPNG/>\n          <o:PixelsPerInch>96</o:PixelsPerInch>\n        </o:OfficeDocumentSettings>\n        </xml>\n        </noscript>\n        <![endif]-->\n  <!--[if lte mso 11]>\n        <style type=\"text/css\">\n          .mj-outlook-group-fix { width:100% !important; }\n        </style>\n        <![endif]-->\n  <!--[if !mso]><!-->\n  <link href=\"https://fonts.googleapis.com/css?family=Open+Sans:300,400\" rel=\"stylesheet\" type=\"text/css\">\n  <style type=\"text/css\">\n    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);\n  </style>\n  <!--<![endif]-->\n  <style type=\"text/css\">\n    @media only screen and (min-width:480px) {\n      .mj-column-per-100 {\n        width: 100% !important;\n        max-width: 100%;\n      }\n    }\n  </style>\n  <style media=\"screen and (min-width:480px)\">\n    .moz-text-html .mj-column-per-100 {\n      width: 100% !important;\n      max-width: 100%;\n    }\n  </style>\n  <style type=\"text/css\">\n    @media only screen and (max-width:480px) {\n      table.mj-full-width-mobile {\n        width: 100% !important;\n      }\n\n      td.mj-full-width-mobile {\n        width: auto !important;\n      }\n    }\n  </style>\n  <style type=\"text/css\">\n    .head {\n      background: linear-gradient(180deg, rgba(2, 0, 53, 1) 0%, rgba(1, 84, 133, 1) 100%);\n      background-color: rgb(2, 0, 53);\n    }\n\n    .footer {\n      background: linear-gradient(360deg, rgba(2, 0, 53, 1) 0%, rgba(1, 84, 133, 1) 100%);\n      background-color: rgb(2, 0, 53);\n    }\n\n    @media (max-width:480px) {\n      .title p {\n        font-size: 14px !important\n      }\n\n      .title li {\n        font-size: 14px !important\n      }\n\n      .title h3 {\n        font-size: 14px !important\n      }\n    }\n  </style>\n  <!-- CSS-STYLE -->\n</head>\n\n<body style=\"word-spacing:normal;background-color:#FBFCFD;\">\n  <div style=\"display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;\">🌴☀️ </div>\n  <div class=\"title\" style=\"background-color:#FBFCFD;\">\n    <!-- LOGO HEADER -->\n    <!-- SECTION HERO //vide -->\n    <!-- SECTION TEXT -->\n    <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#FFFFFF\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n    <div style=\"background:#FFFFFF;background-color:#FFFFFF;margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#FFFFFF;background-color:#FFFFFF;width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:20px 0;text-align:center;\">\n              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr></tr></table><![endif]-->\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n    <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#020035\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n    <div style=\"background:#020035;background-color:#020035;margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#020035;background-color:#020035;width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-bottom:20px;padding-top:20px;text-align:center;\">\n              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:600px;\" ><![endif]-->\n              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">\n                  <tbody>\n                    <tr>\n                      <td align=\"center\" style=\"font-size:0px;padding:10px;word-break:break-word;\">\n                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\">\n                          <tbody>\n                            <tr>\n                              <td style=\"width:150px;\">\n                                <a href=\"https://sea-van.com\" target=\"_blank\" title=\"Seavan Location Aventures\">\n                                  <img alt=\"Seavan\" height=\"auto\" src=\"https://mail.stack.sea-van.com/media/images/logo-seavan.png\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;\" title=\"Seavan Location Aventures\" width=\"150\">\n                                </a>\n                              </td>\n                            </tr>\n                          </tbody>\n                        </table>\n                      </td>\n                    </tr>\n                  </tbody>\n                </table>\n              </div>\n              <!--[if mso | IE]></td></tr></table><![endif]-->\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n    <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"head-outlook\" role=\"presentation\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n    <div class=\"head\" style=\"margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-bottom:20px;padding-top:30px;text-align:center;\">\n              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr></tr></table><![endif]-->\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n    <!--[if mso | IE]></td></tr></table><![endif]-->\n    <!-- SECTION HERO //vide -->\n    <!-- SECTION TEXT -->\n    <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#ffffff\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n    <div style=\"background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-top:30px;text-align:center;\">\n              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:600px;\" ><![endif]-->\n              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">\n                  <tbody>\n                    <tr>\n                      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                        <div style=\"font-family:Open Sans, Helvetica, Arial;font-size:16px;font-weight:400;line-height:160%;text-align:left;color:#2f2e2e;\">\n                          <p style=\"margin: 0; padding: 0;\">Bonjour {{ $json.prenom }},</p>\n                          <p style=\"margin: 0; padding: 0;\">&nbsp;</p>\n                          <p style=\"margin: 0; padding: 0;\">Vous nous avez solicit&eacute; pour un s&eacute;jour &agrave; bord de nos v&eacute;hicules am&eacute;nag&eacute;s et nous vous remercions de votre choix.</p>\n                          <p style=\"margin: 0; padding: 0;\">&nbsp;</p>\n                          <p style=\"margin: 0; padding: 0;\">Avez-vous besoin d&#39;informations compl&eacute;mentaires concernant la proposition envoy&eacute;e?&nbsp;😊</p>\n                          <p style=\"margin: 0; padding: 0;\">&nbsp;</p>\n                          <p style=\"margin: 0; padding: 0;\">Sachez que je suis &agrave; votre &eacute;coute&nbsp;si vous avez besoin de plus de conseils et de pr&eacute;cisions.</p>\n                          <p style=\"margin: 0; padding: 0;\">&nbsp;</p>\n                          <p style=\"margin: 0; padding: 0;\">Et si vous &ecirc;tes en panne d&#39;inspiration pour votre s&eacute;jour n&#39;h&eacute;sitez pas &agrave; consulter nos id&eacute;es de&nbsp;<a href=\"https://sea-van.com/road-trip-en-van-amenage/\">road trip en France</a>.&nbsp;🚐🌍</p>\n                          <p style=\"margin: 0; padding: 0;\">&nbsp;</p>\n                          <p style=\"margin: 0; padding: 0;\">Je vous souhaite&nbsp;une belle journ&eacute;e et peut-&ecirc;tre &agrave; bient&ocirc;t !&nbsp;👋🏻</p>\n                          <p style=\"margin: 0; padding: 0;\">&nbsp;</p>\n                          <p style=\"margin: 0; padding: 0;\">Bien &agrave; vous.</p>\n                          <p style=\"margin: 0; padding: 0;\">Charline</p>\n                          <p style=\"margin: 0; padding: 0;\">&nbsp;</p>\n                        </div>\n                      </td>\n                    </tr>\n                  </tbody>\n                </table>\n              </div>\n              <!--[if mso | IE]></td></tr></table><![endif]-->\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n    <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"footer-outlook\" role=\"presentation\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n    <div class=\"footer\" style=\"margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-bottom:20px;padding-top:30px;text-align:center;\">\n              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr></tr></table><![endif]-->\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n    <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#020035\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n    <div style=\"background:#020035;background-color:#020035;margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#020035;background-color:#020035;width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-bottom:50px;padding-top:30px;text-align:center;\">\n              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:600px;\" ><![endif]-->\n              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">\n                  <tbody>\n                    <tr>\n                      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                        <div style=\"font-family:Open Sans, Helvetica, Arial;font-size:16px;font-weight:400;line-height:160%;text-align:left;color:#ffffff;\">\n                          <h2 style=\"text-align: center;font-size: 2.5em\">\n                            <a style=\"font-size: 1em; color:white; text-decoration:none; letter-spacing:0.15em;\" href=\"https://sea-van.com/\" target=\"_blank\" rel=\"noopener\" title=\"Seavan Location Aventures\">SEAVAN</a>\n                          </h2>\n                          <p style=\"margin: 0; padding: 0; text-align: center;\">Location aventures 🚐🌴☀️ </p>\n                          <h3 style=\"text-align: center;\">\n                            <a style=\"color:white; text-decoration:none;\" href=\"tel:+33553684441\" title=\"📞 Contactez-nous\">05 53 68 44 41</a>\n                          </h3>\n                        </div>\n                      </td>\n                    </tr>\n                    <tr>\n                      <td align=\"center\" style=\"font-size:0px;padding:10px;word-break:break-word;\">\n                        <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\">\n                          <tbody>\n                            <tr>\n                              <td style=\"width:30px;\">\n                                <a href=\"https://sea-van.com\" target=\"_blank\" title=\"Seavan Location Aventures\">\n                                  <img alt=\"Seavan\" height=\"auto\" src=\"https://sea-van.com/wp-content/uploads/2023/12/Calif.gif\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;\" title=\"Seavan Location Aventures\" width=\"30\">\n                                </a>\n                              </td>\n                            </tr>\n                          </tbody>\n                        </table>\n                      </td>\n                    </tr>\n                    <tr>\n                      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                        <div style=\"font-family:Open Sans, Helvetica, Arial;font-size:16px;font-weight:400;line-height:160%;text-align:left;color:#ffffff;\">\n                          <p style=\"margin: 0; padding: 0; font-size: 0.9em; color: white; text-align: center;\"> Nos agences en France : </p>\n                          <p style=\"margin: 0; padding: 0; font-size: 0.9em; color: white; text-align: center;\">\n                            <a style=\"font-size: 0.9em; color:white; \" href=\"https://sea-van.com/location-de-van-amenage-agen/\" target=\"_blank\" title=\"Louez votre van aménagé à partir d'Agen 🚐☀️\" rel=\"noopener\">Agen</a> | <a style=\"font-size: 0.9em; color:white; \" href=\"https://sea-van.com/location-de-van-amenage-avignon/\" title=\"Louez votre van aménagé à partir d'Avignon 🚐☀️\" target=\"_blank\" rel=\"noopener\">Avignon</a> | <a style=\"font-size: 0.9em; color:white; \" href=\"https://sea-van.com/location-de-van-amenage-bergerac/\" target=\"_blank\" title=\"Louez votre van aménagé à partir de Bergerac 🚐☀️\" rel=\"noopener\">Bergerac</a> | <a style=\"font-size: 0.9em; color:white; \" href=\"https://sea-van.com/location-de-van-amenage-bordeaux/\" target=\"_blank\" title=\"Louez votre van aménagé à partir de Bordeaux 🚐☀️\" rel=\"noopener\">Bordeaux</a> | <a style=\"font-size: 0.9em; color:white;\" href=\"https://sea-van.com/location-de-van-amenage-nemours/\" target=\"_blank\" title=\"Louez votre van aménagé à partir de Nemours 🚐☀️\" rel=\"noopener\">Nemours</a> | <a style=\"font-size: 0.9em; color:white;\" href=\"https://sea-van.com/location-de-van-amenage-toulouse/\" target=\"_blank\" title=\"Louez votre van aménagé à partir de Toulouse 🚐☀️\" rel=\"noopener\">Toulouse</a>\n                          </p>\n                        </div>\n                      </td>\n                    </tr>\n                    <tr>\n                      <td align=\"center\" style=\"font-size:0px;padding:30px;word-break:break-word;\">\n                        <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" ><tr><td><![endif]-->\n                        <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"float:none;display:inline-table;\">\n                          <tbody>\n                            <tr>\n                              <td style=\"padding:4px;vertical-align:middle;\">\n                                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#3b5998;border-radius:3px;width:20px;\">\n                                  <tbody>\n                                    <tr>\n                                      <td style=\"font-size:0;height:20px;vertical-align:middle;width:20px;\">\n                                        <a href=\"https://www.facebook.com/sharer/sharer.php?u=https://www.facebook.com/SeaVan.Location/?locale=fr_FR\" target=\"_blank\">\n                                          <img alt=\"Retrouvez-nous sur Facebook\" title=\"Retrouvez-nous sur Facebook\" height=\"20\" src=\"https://www.mailjet.com/images/theme/v1/icons/ico-social/facebook.png\" style=\"border-radius:3px;display:block;\" width=\"20\">\n                                        </a>\n                                      </td>\n                                    </tr>\n                                  </tbody>\n                                </table>\n                              </td>\n                            </tr>\n                          </tbody>\n                        </table>\n                        <!--[if mso | IE]></td><td><![endif]-->\n                        <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"float:none;display:inline-table;\">\n                          <tbody>\n                            <tr>\n                              <td style=\"padding:4px;vertical-align:middle;\">\n                                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#3f729b;border-radius:3px;width:20px;\">\n                                  <tbody>\n                                    <tr>\n                                      <td style=\"font-size:0;height:20px;vertical-align:middle;width:20px;\">\n                                        <a href=\"https://www.instagram.com/seavan_location/\" target=\"_blank\">\n                                          <img alt=\"Retrouvez-nous sur Instagram\" title=\"Retrouvez-nous sur Instagram\" height=\"20\" src=\"https://www.mailjet.com/images/theme/v1/icons/ico-social/instagram.png\" style=\"border-radius:3px;display:block;\" width=\"20\">\n                                        </a>\n                                      </td>\n                                    </tr>\n                                  </tbody>\n                                </table>\n                              </td>\n                            </tr>\n                          </tbody>\n                        </table>\n                        <!--[if mso | IE]></td><td><![endif]-->\n                        <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"float:none;display:inline-table;\">\n                          <tbody>\n                            <tr>\n                              <td style=\"padding:4px;vertical-align:middle;\">\n                                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#EB3323;border-radius:3px;width:20px;\">\n                                  <tbody>\n                                    <tr>\n                                      <td style=\"font-size:0;height:20px;vertical-align:middle;width:20px;\">\n                                        <a href=\"https://www.youtube.com/@seavan9648\" target=\"_blank\">\n                                          <img alt=\"Retrouvez-nous sur Youtube\" title=\"Retrouvez-nous sur Youtube\" height=\"20\" src=\"https://www.mailjet.com/images/theme/v1/icons/ico-social/youtube.png\" style=\"border-radius:3px;display:block;\" width=\"20\">\n                                        </a>\n                                      </td>\n                                    </tr>\n                                  </tbody>\n                                </table>\n                              </td>\n                            </tr>\n                          </tbody>\n                        </table>\n                        <!--[if mso | IE]></td><td><![endif]-->\n                        <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"float:none;display:inline-table;\">\n                          <tbody>\n                            <tr>\n                              <td style=\"padding:4px;vertical-align:middle;\">\n                                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#0077b5;border-radius:3px;width:20px;\">\n                                  <tbody>\n                                    <tr>\n                                      <td style=\"font-size:0;height:20px;vertical-align:middle;width:20px;\">\n                                        <a href=\"https://www.linkedin.com/shareArticle?mini=true&url=https://www.linkedin.com/company/seavan-location/&title=&summary=&source=\" target=\"_blank\">\n                                          <img alt=\"Retrouvez-nous sur Linkedin\" title=\"Retrouvez-nous sur Linkedin\" height=\"20\" src=\"https://www.mailjet.com/images/theme/v1/icons/ico-social/linkedin.png\" style=\"border-radius:3px;display:block;\" width=\"20\">\n                                        </a>\n                                      </td>\n                                    </tr>\n                                  </tbody>\n                                </table>\n                              </td>\n                            </tr>\n                          </tbody>\n                        </table>\n                        <!--[if mso | IE]></td></tr></table><![endif]-->\n                      </td>\n                    </tr>\n                  </tbody>\n                </table>\n              </div>\n              <!--[if mso | IE]></td></tr></table><![endif]-->\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n    <!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"white\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]-->\n    <div style=\"background:white;background-color:white;margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:white;background-color:white;width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:20px 0;text-align:center;\">\n              <!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:600px;\" ><![endif]-->\n              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">\n                  <tbody>\n                    <tr>\n                      <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                        <div style=\"font-family:Open Sans, Orienta, Helvetica, Arial;font-size:10px;line-height:1;text-align:left;color:#020035;\">\n                          <p style=\"margin: 0; padding: 0; text-align: center;\"><a href=\"https://mail.stack.sea-van.com/email/unsubscribe/xxxxxxxxxxxxxx\">Se désinscrire</a> | <a href=\"https://mail.stack.sea-van.com/email/preview/28\" target=\"_blank\">Voir ce message dans votre navigateur</a> | <a href=\"https://sea-van.com/politique-de-confidentialite/\" target=\"_blank\">Politique de confidentialité</a>\n                          </p>\n                        </div>\n                      </td>\n                    </tr>\n                  </tbody>\n                </table>\n              </div>\n              <!--[if mso | IE]></td></tr></table><![endif]-->\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n    <!--[if mso | IE]></td></tr></table><![endif]-->\n  </div>\n</body>\n\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "499bd119-b859-4392-9c1a-2e2954d09238",
      "name": "Envoie un mail",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        940,
        -200
      ],
      "webhookId": "ee83a5b5-8566-449d-aba3-54eadb749281",
      "credentials": {
        "smtp": {
          "id": "3hH7au2xSqqRQuAo",
          "name": "SMTP charline"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 8
            }
          ]
        }
      },
      "id": "1a94aa81-317d-446c-9510-67a4c7795002",
      "name": "Tous les jours à 15h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        60
      ]
    },
    {
      "parameters": {},
      "id": "1925ca84-30e3-4c94-a836-81ac03c61c11",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        60
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ur9uvHxf82lMBYWS"
  },
  "shared": [
    {
      "updatedAt": "2023-12-14T17:13:41.043Z",
      "createdAt": "2023-12-14T17:13:41.043Z",
      "role": "workflow:owner",
      "workflowId": "jtryJlYviNi1PmnB",
      "projectId": "8nM2sM0qimdfJmkc"
    }
  ],
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1tUz1Z-G66V2U1x6VktpFOT-H76A1ukIU8bNowaB-GvA",
      "sheetId": "0",
      "lastIndexChecked": 3
    },
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "node:Tous les jours à 8h": {
      "recurrencyRules": []
    },
    "node:Tous les jours à 15h": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2023-11-13T13:28:04.972Z",
      "createdAt": "2023-11-13T13:28:04.972Z",
      "id": "JD3fTrw1NMj06zE2",
      "name": "Leads Seavan"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-20T14:16:51.894Z",
  "versionId": "7d0069d9-81fe-498e-8d54-0c6a150d1318"
}