workflows/Résa Seavan.json
{
  "active": true,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-13T13:06:35.586Z",
  "id": "XLm8ftKbss2JfzVY",
  "meta": null,
  "name": "Résa Seavan",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "subject:Nouvelle demande de devis"
        },
        "options": {}
      },
      "id": "9d9703bc-0dfc-4e47-a018-54f895c5d9e2",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        320,
        220
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "rAfdKJMN8l7vL9s2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Date",
              "stringValue": "={{ (new Date()).toLocaleDateString('fr-FR') }}"
            },
            {
              "name": "Prenom",
              "stringValue": "={{ $json[\"text\"].match(/(?<=Prénom : )(.*)(?= Nom : )/g)[0] }}"
            },
            {
              "name": "Nom",
              "stringValue": "={{ $json[\"text\"].match(/(?<=Nom : )(.*)(?= Tél )/g)[0] }}"
            },
            {
              "name": "Tel",
              "stringValue": "={{ $json[\"text\"].match(/(?<= Tél : )(.*)(?= E-mail :)/g)[0] }}"
            },
            {
              "name": "Optin",
              "stringValue": "={{ $json[\"textAsHtml\"].match(/(?<=la newsletter :<br\\/>)(.*)(?=<\\/p><p>--<br\\/>Attention les inscriptions)/g)[0] }}"
            },
            {
              "name": "Email",
              "stringValue": "={{ $json[\"textAsHtml\"].match(/([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9_-]+)/g)[0] }}"
            },
            {
              "name": "Agence de depart",
              "stringValue": "={{ $json[\"textAsHtml\"].match(/(?<=Agence de d&eacute;part :<br\\/>)(.*)(?=<\\/p><p>&gt;&gt; Dates de r&eacute;servation :)/g)[0] }}"
            }
          ]
        },
        "include": "selected",
        "options": {}
      },
      "id": "fc955311-d6ef-437b-aedd-85169ebf961e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        500,
        220
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YEUxA8-V4JXwZoabC3_wx9lqeMejPwVypAQ5AX7amnU",
          "mode": "list",
          "cachedResultName": "RESA-SEAVAN-N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YEUxA8-V4JXwZoabC3_wx9lqeMejPwVypAQ5AX7amnU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Touteslesdemandes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YEUxA8-V4JXwZoabC3_wx9lqeMejPwVypAQ5AX7amnU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prenom": "={{ $json.Prenom }}",
            "nom": "={{ $json.Nom }}",
            "tel": "={{ $json.Tel }}",
            "email": "={{ $json.Email }}",
            "optin": "={{ $json.Optin }}",
            "Agence de départ": "={{ $json['Agence de depart'] }}",
            "received_at_date": "={{ $json.Date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prenom",
              "displayName": "prenom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nom",
              "displayName": "nom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tel",
              "displayName": "tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "optin",
              "displayName": "optin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agence de départ",
              "displayName": "Agence de départ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "received_at_date",
              "displayName": "received_at_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "c7f6a45c-8e8a-4d8a-8161-5626c110df66",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        640,
        140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2WEM9Jn81BmJbW4o",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ur9uvHxf82lMBYWS"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "lastTimeChecked": 1702329832,
      "possibleDuplicates": [
        "18c5ac3dbcac1efd"
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2023-11-13T13:28:04.972Z",
      "updatedAt": "2023-11-13T13:28:04.972Z",
      "id": "JD3fTrw1NMj06zE2",
      "name": "Leads Seavan"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-12-11T21:24:31.008Z",
  "versionId": "8b5e9283-c4cb-4229-8b71-a4026e0a8319"
}