workflows/Stations GNV Espagne.json
{
  "active": true,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Filtre les stations publiques (enleve R)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filtre les stations publiques (enleve R)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-30T17:29:35.275Z",
  "id": "Yjg5OlFElE7lb2ws",
  "meta": null,
  "name": "Stations GNV Espagne",
  "nodes": [
    {
      "parameters": {},
      "id": "661f84a6-86a9-4960-a746-66c2169b2558",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        -20
      ]
    },
    {
      "parameters": {
        "url": "https://sedeaplicaciones.minetur.gob.es/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/FiltroProducto/18",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "1ec94aee-b505-4cb8-9b42-fab489393b56",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        120,
        20
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "ListaEESSPrecio",
        "include": "=noOtherFields",
        "options": {}
      },
      "id": "5c222c00-8a87-440c-b28a-cdf18a8989b4",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        300,
        20
      ]
    },
    {
      "parameters": {
        "path": "stations-espagnoles",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "58a04c7a-d20f-440f-9bec-8544520bdb11",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -80,
        120
      ],
      "webhookId": "f86fa526-2be4-4760-a024-f1497be40f19"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.horairesouverture }}",
              "value2": "L-D: 24H"
            }
          ]
        }
      },
      "id": "37590fc2-57bd-4da1-b3b0-5a246bca3fb8",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        820,
        20
      ]
    },
    {
      "parameters": {},
      "id": "2e2e2758-7094-4a1b-b96f-3a583cad9859",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1160,
        20
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "horairesouverture",
              "stringValue": "Oui"
            }
          ]
        },
        "options": {}
      },
      "id": "c7a8ca7e-1856-4031-ad2d-d081068ae64a",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1000,
        -80
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "horairesouverture"
            }
          ]
        },
        "options": {}
      },
      "id": "f89ebc0a-6539-4e24-ac1a-84e7efd5c532",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1000,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Tipo Venta'] }}",
              "value2": "P"
            }
          ]
        }
      },
      "id": "401379f2-b07f-4885-ac19-6ba424b014d2",
      "name": "Filtre les stations publiques (enleve R)",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        480,
        20
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "adress",
              "stringValue": "={{ $json.Dirección }} {{ $json['C.P.'] }} {{ $json.Municipio }}"
            },
            {
              "name": "horairesouverture",
              "stringValue": "={{ $json.Horario }}"
            },
            {
              "name": "latitude",
              "type": "numberValue",
              "numberValue": "={{ $json[\"Latitud\"].replace(\",\", \".\") }}"
            },
            {
              "name": "longitude",
              "type": "numberValue",
              "numberValue": "={{ $json['Longitud (WGS84)'].replace(\",\", \".\") }}"
            },
            {
              "name": "prixgnc",
              "stringValue": "={{ $json.PrecioProducto }}"
            },
            {
              "name": "Titre de la fiche",
              "stringValue": "={{ $json.Rótulo }}"
            },
            {
              "name": "statut",
              "stringValue": "ouverte"
            },
            {
              "name": "carburant",
              "stringValue": "gnv"
            },
            {
              "name": "fonctionnement",
              "stringValue": "ras"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "752284f3-debc-43fa-80bb-3bce71788587",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        660,
        20
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "c02051db-a2c7-49c2-b4bb-9f24fb7e256a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        -140
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ur9uvHxf82lMBYWS"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [
        6
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2023-12-11T09:06:36.362Z",
      "updatedAt": "2023-12-11T09:06:36.362Z",
      "id": "pu1HKJmBOsnvJ7E5",
      "name": "NG Maps"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2023-12-14T05:00:00.176Z",
  "versionId": "a1078000-9c83-420c-ad90-c54af4c02153"
}