workflows/Stations GNV Italie.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-29T16:53:06.503Z",
  "id": "aP09XCc2lXSHiFBL",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Stations GNV Italie",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0c8effcc-f0c0-4c46-9dc8-bae58bb0ec34",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.mimit.gov.it/images/exportCSV/anagrafica_impianti_attivi.csv",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "96d3a4dc-6cf3-4bf2-9e02-406b2adbdc0a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "884f9cb6-9ebc-423b-873e-bf587bde8194",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        560,
        144
      ],
      "id": "6384339a-9282-454f-8ba2-9e8b145838e6",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ur9uvHxf82lMBYWS"
  },
  "shared": [
    {
      "updatedAt": "2025-11-29T16:53:06.503Z",
      "createdAt": "2025-11-29T16:53:06.503Z",
      "role": "workflow:owner",
      "workflowId": "aP09XCc2lXSHiFBL",
      "projectId": "8nM2sM0qimdfJmkc"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2023-12-11T09:06:36.362Z",
      "createdAt": "2023-12-11T09:06:36.362Z",
      "id": "pu1HKJmBOsnvJ7E5",
      "name": "NG Maps"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-01T15:13:25.904Z",
  "versionId": "ffeab681-6aeb-46e9-baac-6b45bb529d4c"
}