workflows/Stations copy.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Filtre les stations publiques (enleve R)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filtre les stations publiques (enleve R)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Item Lists3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists3": {
      "main": [
        [
          {
            "node": "Filtre les stations publiques (enleve R)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtre les stations publiques (enleve R)1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-01T15:47:17.835Z",
  "id": "4MjhqB123tEfEWrp",
  "isArchived": false,
  "meta": null,
  "name": "Stations copy",
  "nodes": [
    {
      "parameters": {
        "url": "https://sedeaplicaciones.minetur.gob.es/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/FiltroProducto/18",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "7d90adb2-0dbf-4754-a8d3-bb49ffba76ff",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -260,
        -440
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "ListaEESSPrecio",
        "include": "=noOtherFields",
        "options": {}
      },
      "id": "ed667833-28fc-4dcb-b328-1dc7493d6533",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        -120,
        -440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.horairesouverture }}",
              "value2": "L-D: 24H"
            }
          ]
        }
      },
      "id": "e3010379-3049-41a6-b1cc-b51b2ba3f587",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        360,
        -440
      ]
    },
    {
      "parameters": {},
      "id": "70bc03d2-2ab1-489a-998e-869171937ce4",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        700,
        -440
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "horairesouverture",
              "stringValue": "Oui"
            }
          ]
        },
        "options": {}
      },
      "id": "3131038f-ec86-4c66-b7b6-f330826d3c3a",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        520,
        -500
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "horairesouverture"
            }
          ]
        },
        "options": {}
      },
      "id": "ecb75937-83aa-4265-a98c-9abbdf424cef",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        520,
        -360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Tipo Venta'] }}",
              "value2": "P"
            }
          ]
        }
      },
      "id": "7e25dc47-945c-47f1-88aa-63440143f9f3",
      "name": "Filtre les stations publiques (enleve R)",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        40,
        -440
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "adress",
              "stringValue": "={{ $json.Direcci贸n }} {{ $json['C.P.'] }} {{ $json.Municipio }}"
            },
            {
              "name": "horairesouverture",
              "stringValue": "={{ $json.Horario }}"
            },
            {
              "name": "latitude",
              "type": "numberValue",
              "numberValue": "={{ $json[\"Latitud\"].replace(\",\", \".\") }}"
            },
            {
              "name": "longitude",
              "stringValue": "={{ $json['Longitud (WGS84)'].replace(\",\", \".\") }}"
            },
            {
              "name": "prixgnc",
              "stringValue": "={{ $json.PrecioProducto }}"
            },
            {
              "name": "Titre de la fiche",
              "stringValue": "={{ $json.R贸tulo }}"
            },
            {
              "name": "statut",
              "stringValue": "ouverte"
            },
            {
              "name": "carburant",
              "stringValue": "gnv"
            },
            {
              "name": "fonctionnement",
              "stringValue": "ras"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "319503b1-adfa-4a07-8ff6-0573c4d28912",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        200,
        -440
      ]
    },
    {
      "parameters": {
        "url": "https://sedeaplicaciones.minetur.gob.es/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/FiltroProducto/19",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "3815dcbe-a53c-4f1d-bf95-a4e451b7b518",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -280,
        40
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "ListaEESSPrecio",
        "include": "=noOtherFields",
        "options": {}
      },
      "id": "6b051dd7-0c35-4ed5-a50c-0cbcbabdcf4b",
      "name": "Item Lists3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        -120,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Tipo Venta'] }}",
              "value2": "P"
            }
          ]
        }
      },
      "id": "70623cb6-e03e-4233-8cb1-c70ec1ea6bd5",
      "name": "Filtre les stations publiques (enleve R)1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        40,
        40
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "adress",
              "stringValue": "={{ $json.Direcci贸n }} {{ $json['C.P.'] }} {{ $json.Municipio }}"
            },
            {
              "name": "horairesouverture",
              "stringValue": "={{ $json.Horario }}"
            },
            {
              "name": "latitude",
              "type": "numberValue",
              "numberValue": "={{ $json[\"Latitud\"].replace(\",\", \".\") }}"
            },
            {
              "name": "longitude",
              "stringValue": "={{ $json['Longitud (WGS84)'].replace(\",\", \".\") }}"
            },
            {
              "name": "prixgnl",
              "stringValue": "={{ $json.PrecioProducto }}"
            },
            {
              "name": "Titre de la fiche",
              "stringValue": "={{ $json.R贸tulo }}"
            },
            {
              "name": "statut",
              "stringValue": "ouverte"
            },
            {
              "name": "carburant",
              "stringValue": "gnl"
            },
            {
              "name": "fonctionnement",
              "stringValue": "ras"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "4497f065-591b-4572-ae19-f38b5fe5b00e",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        200,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.horairesouverture }}",
              "value2": "L-D: 24H"
            }
          ]
        }
      },
      "id": "738ac08e-1b6a-4073-a688-3f31b966ba60",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        340,
        40
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "horairesouverture",
              "stringValue": "Oui"
            }
          ]
        },
        "options": {}
      },
      "id": "9f25a82e-3087-4eef-8ef5-0282948fb1b4",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        500,
        -60
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "horairesouverture"
            }
          ]
        },
        "options": {}
      },
      "id": "d286c310-965c-45fb-933b-d2cabc6a0a50",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        500,
        100
      ]
    },
    {
      "parameters": {},
      "id": "1d2b2b79-9f29-436f-b6c5-57f045f9fae0",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        680,
        20
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "longitude",
              "field2": "longitude"
            }
          ]
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "id": "b7b02965-9f19-43ef-9941-fa00d36e9e15",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        840,
        -200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.prixgnc }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.prixgnl }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "7ce6a7c2-8239-47e0-bf8f-a39e499a3b47",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        -200
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "carburant",
              "stringValue": "gnv,gnl"
            }
          ]
        },
        "options": {}
      },
      "id": "e197f91b-d0bd-421c-81cf-82675a080d87",
      "name": "Edit Fields6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1120,
        -380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.prixgnc }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "802293ba-9633-4480-92b9-9b5e938528c3",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        40
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "carburant",
              "stringValue": "gnv"
            }
          ]
        },
        "options": {}
      },
      "id": "8af18106-c590-4ed2-9821-4520550e98f9",
      "name": "Edit Fields7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1200,
        -100
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "carburant",
              "stringValue": "gnl"
            }
          ]
        },
        "options": {}
      },
      "id": "3fba3678-e2e4-4d1d-b555-6dd7087f2214",
      "name": "Edit Fields8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {},
      "id": "2c05ef77-7a76-4afb-abe8-f57c6f731a73",
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1340,
        20
      ]
    },
    {
      "parameters": {},
      "id": "db339c37-458a-483e-bfd2-a9c6f49c1af6",
      "name": "Merge4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1500,
        -180
      ]
    },
    {
      "parameters": {
        "path": "b2aad6f3-60f6-46d8-b6b6-918a4c388760",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "8c33eecf-1bc0-47d0-a0f2-2cabb4131d01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -580,
        -220
      ],
      "webhookId": "b2aad6f3-60f6-46d8-b6b6-918a4c388760"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "commentaires",
              "stringValue": "Attention les fiches des stations espagnoles ne sont pas modifiables"
            },
            {
              "name": "gogoemail",
              "stringValue": "contact@naturegaz.com"
            }
          ]
        },
        "options": {}
      },
      "id": "0cc1b277-60b8-46d3-9fd0-c841f6f748e4",
      "name": "Edit Fields9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1720,
        -180
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ur9uvHxf82lMBYWS"
  },
  "shared": [
    {
      "updatedAt": "2025-12-01T15:47:17.835Z",
      "createdAt": "2025-12-01T15:47:17.835Z",
      "role": "workflow:owner",
      "workflowId": "4MjhqB123tEfEWrp",
      "projectId": "8nM2sM0qimdfJmkc"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2023-12-11T09:06:36.362Z",
      "createdAt": "2023-12-11T09:06:36.362Z",
      "id": "pu1HKJmBOsnvJ7E5",
      "name": "NG Maps"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-01T15:47:17.835Z",
  "versionId": "b6f577e8-d784-4662-9a2a-6b2e388d124b"
}